<form class="example-form">

    <div class="campo">
        <mat-form-field>
            <mat-label>Gran premio</mat-label>
            <mat-select [(value)]="selected">
                <mat-option>None</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="campo">
        <mat-slide-toggle>Carrera sprint</mat-slide-toggle>
    </div>
    <div class="campo">
        <mat-form-field>
            <mat-label>Posición Alonso</mat-label>
            <input type="number" matInput placeholder="0" value="">
        </mat-form-field>
    </div>
    <div class="campo">
        <mat-form-field>
            <mat-label>Posición Sainz</mat-label>
            <input type="number" matInput placeholder="0" value="">
        </mat-form-field>
    </div>
    <div class="campo">
        <mat-form-field>
            <mat-label>Equipo</mat-label>
            <mat-select [(value)]="equipo">
                <mat-option>None</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

</form>