<p id="nombre">{{nombre}}</p>
<h3>Apuesta para:</h3>
<p><strong>{{race.nombre}}</strong><br>{{race.circuito}} ({{race.pais}})</p>
<h1>Clasificación</h1>
<ol>@for (item of clasificacion; track item.usuario.id) {
    <li>{{ item.usuario.nombre }} - {{item.puntos}} <a (click)="toggleDiv(item.usuario.id)"> Puntuación </a>

        <div id="{{item.usuario.id}}" style="display: none;">

            @for (puntos of item.jornadas; track puntos.apuesta.id) {
            <div class="flex">
                <span>Jornada {{puntos.round}} </span>
                <a (click)="toggleDiv(puntos.apuesta.id)"> <span>puntos </span></a>
                <a (click)="toggleDiv(puntos.apuesta.id+'apuesta')"> <span>
                        apuesta</span></a>
            </div>
            <ul id={{puntos.apuesta.id}} class="mini" style="display: none;">
                <li>Puntos Jornada {{puntos.puntosJornada}}</li>
                <li>Puntos Carrera: {{puntos.puntosCarrera}}</li>
                <li>Puntos Parrilla: {{puntos.puntosParrilla}}</li>
                <li>Puntos Sprint: {{puntos.puntosSprint}}</li>
                <li>Puntos Alonso: {{puntos.puntosAlonso}} </li>
                <li>Puntos Sainz: {{puntos.puntosSainz}}</li>
            </ul>

            <div id="{{puntos.apuesta.id + 'apuesta'}}" style="display: none;" class="mini">
                <span>Carrera</span>
                <ol>
                    @for (carrera of puntos.apuesta.carrera; track carrera.id) {
                    <li>{{carrera.nombre}} </li>
                    }
                </ol>
                <span>Parrilla</span>
                <ol>
                    @for (parrilla of puntos.apuesta.parrilla; track parrilla.id) {
                    <li>{{parrilla.nombre}} </li>
                    }
                </ol>
                <span>Sprint</span>
                <ol>
                    @for (sprint of puntos.apuesta.sprint; track sprint.id) {
                    <li>{{sprint.nombre}} </li>
                    }
                </ol>
            </div>
            }

        </div>
    </li>
    }

</ol>