<mat-selection-list #pilotos [(ngModel)]="pilotosSeleccionados" (ngModelChange)="onNgModelChange($event)">
    @for (piloto of lista; track piloto.id) {
    <mat-list-option [value]="piloto.nombre">
        <span matListItemTitle>{{piloto.nombre}}</span>
        <span matListItemLine>{{piloto.equipo}}</span>
    </mat-list-option>
    }
</mat-selection-list>

<p>
    <code class="font-green">Selected: {{ pilotosSeleccionados }}</code>
</p>

<button mat-flat-button color="primary">
    <mat-icon>home</mat-icon>
    Home
</button>