<mat-toolbar color="primary">
  <div (click)="cargaLista('Clasificación')">
    <button mat-mini-fab color="accent">
      <mat-icon>timer</mat-icon>
    </button>
  </div>
  <div (click)="cargaLista('Sprint')">
    <button mat-mini-fab color="accent">
      <mat-icon>
        flash_on
      </mat-icon>
    </button>
  </div>
  <div (click)="cargaLista('Carrera')">
    <button mat-mini-fab color="accent">
      <mat-icon>
        traffic
      </mat-icon>
    </button>
  </div>
  <div (click)="cargaLista('Carrera')">
    <button mat-mini-fab color="accent">
      <mat-icon>
        tune
      </mat-icon>
    </button>
  </div>
  <div (click)="mostrarApuesta()">
    <button mat-mini-fab color="accent">
      <mat-icon>
        paid
      </mat-icon>
    </button>
  </div>
</mat-toolbar>

<main class="main">
  <router-outlet></router-outlet>
</main>