div.apuesta {
    white-space:pre;
    background-color: rgb(42, 47, 47); 
    border: 1px solid #515050; 
    border-radius: 5px; 
    padding: 25px;
    margin-right: 20px;}
div.flex {display: flex; justify-content: center; }