<div class="boton flex">
    @if (apuestasAbiertas) {
    <button mat-flat-button color="primary" (click)="apostar()"><mat-icon fontIcon="paid"></mat-icon>Apostar</button>
    }
    <button mat-flat-button color="accent" (click)="guardar()"><mat-icon fontIcon="save"></mat-icon>Guardar</button>
</div>
<div>
    <h2>{{this.race.nombre}}</h2>
    <div>
        <h3>Parrilla</h3>
        <p>1- {{apuesta.parrilla[0].nombre | titlecase}}</p>
        <p>2- {{apuesta.parrilla[1].nombre}}</p>
        <p>3- {{apuesta.parrilla[2].nombre}}</p>
        <p>4- {{apuesta.parrilla[3].nombre}}</p>
    </div>
    <div>
        <h3>Sprint</h3>
        <p>1- {{apuesta.sprint[0].nombre}}</p>
        <p>2- {{apuesta.sprint[1].nombre}}</p>
        <p>3- {{apuesta.sprint[2].nombre}}</p>
        <p>4- {{apuesta.sprint[3].nombre}}</p>
    </div>
    <div>
        <h3>Carrera</h3>
        <p>1- {{apuesta.carrera[0].nombre}}</p>
        <p>2- {{apuesta.carrera[1].nombre}}</p>
        <p>3- {{apuesta.carrera[2].nombre}}</p>
        <p>4- {{apuesta.carrera[3].nombre}}</p>
    </div>
    <div>
        <h3>Extras</h3>
        <p>Posición Alonso: {{apuesta.posAlonso}}</p>
        <p>Posición Sainz: {{apuesta.posSainz}}</p>
    </div>
</div>