@use '@angular/material' as mat;

@include mat.core();

$my-app-primary: mat.define-palette(mat.$blue-grey-palette);
$my-app-accent: mat.define-palette(mat.$lime-palette);
$my-app-warn: mat.define-palette(mat.$red-palette);

$my-app-theme: mat.define-dark-theme((color: (primary: $my-app-primary,
                accent: $my-app-accent,
                warn: $my-app-warn,
            )));

$acolor: #CDDC39;


@include mat.all-component-themes($my-app-theme);



html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a,
a:visited,
a:hover {
    text-decoration: none;
    color: $acolor;
    font-weight: bold;

}