<mat-toolbar color="primary">
    <div (click)="cargaHome()">
        <button mat-mini-fab color="accent">
            <mat-icon>
                home
            </mat-icon>
        </button>
    </div>
    <div (click)="cargaConfi()">
        <button mat-mini-fab color="accent">
            <mat-icon>
                tune
            </mat-icon>
        </button>
    </div>
    <div (click)="cargaClasificacion()">
        <button mat-mini-fab color="accent">
            <mat-icon>timer</mat-icon>
        </button>
    </div>
    <div (click)="cargaSprint()">
        <button mat-mini-fab color="accent">
            <mat-icon>
                flash_on
            </mat-icon>
        </button>
    </div>
    <div (click)="cargaCarrera()">
        <button mat-mini-fab color="accent">
            <mat-icon>
                traffic
            </mat-icon>
        </button>
    </div>

    <div (click)="cargaApuesta()">
        <button mat-mini-fab color="accent">
            <mat-icon>
                paid
            </mat-icon>
        </button>
    </div>
</mat-toolbar>